{:paths ["src" "resources" "dev" "test"]
 :deps {io.aviso/pretty {:mvn/version "1.2"}}
 :tasks {dev   {:doc  "Start a development server"
                :task tasks.dev/-main}
         build tasks.build/build
         check tasks.check/check
         fmt   tasks.format/fix
         tag   tasks.version/tag}}
