{:paths ["src" "resources" "dev" "test"]
 :deps {io.aviso/pretty {:mvn/version "1.2"}}
 :tasks {build tasks.build/build
         dev   {:doc  "Start a development server"
                :task tasks.dev/-main}}}
